.heroRight2{
    width: 15% ;
    height: 100vh;
    color: white;

    .profile{
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        border-radius: 9px;
        h2{
            font-size: 1.5vw;
        }
        p{
            font-size: 1.4vw;
        }

        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }

    .heroRight_view{
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 23vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
       .view{
        height: 5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 1.1vw;
            font-weight: 500;
        }
        &:hover{
            background-color: rgb(187, 192, 195);
            color: rgb(44, 22, 22);
           
        }
       }
       .impressions{
        height: 5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 1vw;
            font-weight: 500;
        }
        &:hover{
            background-color: rgb(187, 192, 195);
            color: black;
           
        }
       }

       .item{
        display: flex;
        align-items: center;
        margin-top: 2rem;
        &:hover{
            background-color: rgb(187, 192, 195);
            color: black;
        }
       }
    }

    .recent{
    height: 603h;
    border: 2px solid white;
    border-radius: 9px;
    p{
        font-size: 1.8vw;
        margin: 0.6rem;
    }
    .recent_serach{
       
        .searching{
            color: rgb(172, 157, 157);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            p{
                font-size: 1.1vw;
            }
            &:hover{
                color: white;
            }
        }
    }
    .hastag{
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        p{
            font-size: 1.2vw;
        }
    }

    }
    .follow{
       
        height: 43vh;
        border: 2px solid white;
        border-radius: 9px;
        margin-top: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
            font-size: 1.1vw;
            text-align: center;
            padding: 0.7rem;
            font-weight: 700;
            
        }
        img{
            width: 100px;
        }
        button{
            padding: 0.7vw;
            font-weight: 600;
            background-color: transparent;
            border: 2px solid white;
            color: white;
            border-radius: 16px;
            cursor: pointer;
            &:hover{
                background-color: rgb(47, 41, 102);
                color: rgb(255, 255, 255);
            }
        }

    }

    @media (max-width : "786px") {
        display: none;
    }
}