.heroLeft {
  width: 16%;
  height: 100vh;
  display: flex;
  justify-content: end;
  @media (max-width: "786px") {
    display: none;
    
  }

  .heroLeft_friendReq {
    width: 98%;
    height: 44vh;
    border: 2px solid rgb(255, 255, 254);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    img {
      width: 150px;
      margin-bottom: 1.6rem;
      object-fit: cover;
      object-position: top;
      cursor: pointer;
      &:hover {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        transition: all ease-in-out 1s;
        transform: scale(1.5);
      }
    }
    p{
      font-size: 2vw;
      
    }
    h1 {
      font-size: 1.5vw;
      padding: 0.5rem;
    }
    .btn {
      display: flex;
      .btn_both {
        padding: 0.3rem;
        margin: 0.5rem;
        font-weight: 700;
        border: 2px solid white;
        background-color: transparent;
        color: white;
        cursor: pointer;
      }
      .btn1 {
        font-size: 1.2vw;
        &:hover {
          background-color: red;
          border: none;
        }
      }
      .btn2 {
        font-size: 1.2vw;
        &:hover {
          color: black;
          background-color: rgb(38, 224, 44);
          border: none;
        }
      }
    }
  }
}
