
.heroRight {
  width: 68%;
  height: 100vh;

  .heroRight_post {
    width: 100%;
    height: 24vh;
    border: 2px solid rgb(224, 233, 224);
    border-radius: 0.7rem;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    .heroRight_post_pac {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;

      }
      input {
        width: 60vw;
        border-radius: 20px;
        height: 7vh;
        border: none;
        outline: none;
        padding-left: 3vw;
        font-size: 1.9vw;
        font-weight: 400;
        background: transparent;
        border: 1px solid rgb(225, 225, 225);
        &:hover {
          background-color: rgb(230, 216, 216);
          color: black;
        }
      }
    }

    .heroRight_share {
      display: flex;
      justify-content: space-evenly;
      color: white;

      img {
        width: 3vw;
      }
      .photo {
        width: 20%;
        height: 9vh;
        padding: 1vw;
        display: flex;
        align-items: center;
        gap: 1vw;
        &:hover {
          color: black;
          background-color: rgb(179, 174, 174);
        }
        p {
          font-size: 1.4vw;
        }
      }
      .video {
        width: 20%;
        height: 9vh;
        padding: 1vw;
        display: flex;
        align-items: center;
        gap: 1vw;
        &:hover {
          color: black;
          background-color: rgb(179, 174, 174);
        }
        p {
          font-size: 1.4vw;
        }
      }
      .article {
        width: 28%;
        height: 9vh;
        padding: 1vw;
        display: flex;
        align-items: center;
        gap: 1vw;
        &:hover {
          color: black;
          background-color: rgb(179, 174, 174);
        }
        p {
          font-size: 1.4vw;
        }
      }
    }
  }
}

@media (max-width: '785px') {
  .heroRight{
    width: 88%;
    .heroRight_post{
      border: 2px solid green;
      margin-top: 1.5rem;

      .heroRight_post_pac{


        input {
          width: 60vw;
          border-radius: 20px;
          height: 7vh;
          border: none;
          outline: none;
          padding-left: 3vw;
          font-size: 2.4vw;
          font-weight: 600;
          background: transparent;
          border: 1px solid rgb(61, 222, 66);
          &:hover {
            background-color: rgb(146, 213, 160);
            border: none;
            color: rgb(242, 229, 229);
          }
        }
        
      }

      .heroRight_share{
        color: black;
        img{
          width: 5.7vw;
        }
        .photo, .video, .article{
          p{
            
            font-size: 1rem;
            font-weight: 600;
          
            &:hover{
              color: green;
            }
          }
        }
      }
    }
  }
}

