.heroLeft {
  width: 15%;
  height: 100vh;
 
  // position: fixed;
  // top: 0%;
  // left: 0%;

  @media (max-width: "786px") {
    display: none;
  }

  .heroLeft_friendReq {
    width: 100%;
    height: 47vh;
    // background-color: red;
    border: 2px solid rgb(255, 255, 254);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    img {
     width: 200px;
     margin-bottom: 1.6rem;
    }
    h1{
      font-size: 1.5rem;
      padding: 0.5rem;

    }
    .btn{
      .btn_both{
        padding: 0.4rem;
        margin: 0.5rem;
        font-weight: 700;
        border: 2px solid white;
        background-color: transparent;
        color: white;
        cursor: pointer;
      }
      .btn1{
        &:hover{
          background-color: red;
        }
      }
      .btn2{
        &:hover{
          color: black;
          background-color: rgb(38, 224, 44);
        }
      }
    }
  }
}
