// @media (max-width: "786px") {
//     .story{
//         .story_container{
//             height: 55vh;
//         }

//             .box{
//                 height: 90vh;
//                 width: 90%;
//             }
//     }

// }
.story {
  width: 100%;
  height: 100vh;
  background-color: rgb(33, 27, 62);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 2.6rem;
  .story_container::-webkit-scrollbar {
    display: none;
  }

  .story_container {
    width: 90%;
    // height: 60vh;
    border: 1px solid rgb(118, 113, 113);
    display: flex;
    align-items: center;

    overflow-x: scroll;

    .box {
      margin: 1rem;
      padding: 5rem;
      width: 70%;
      height: 49vh;
      border: 2px solid rgb(227, 217, 217);
      box-shadow: 3px 3px 5px grey;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 15px;
      overflow: hidden;
    

      .img {
        width: 200px;
        height: 50vh;
        opacity: 0.6;
        cursor: pointer;
        &:hover {
          transform:  scale(1.07);
          transform: translate(1.4);
          opacity: 1;
        
        }
      }
      p {
        position: relative;
        bottom: 2rem;

        color: #fffdfd;
        font-size: 1vw;
        font-weight: 800;

      }
    }
  }
}

.storyReels {
  display: flex;
  background-color: red;
}
.Story {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  height: 35vh;
  margin: 0px 0.3vw;
  box-shadow: 0 5px 17px -7px rgb(0, 0, 0, 0.75);
  transition: all 0.2 linear 0s;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    transform: scale(1.07);
  }
  .MuiAvatar-root {
    margin: 0.6vw;
    border: 2px solid #14bd44;
  }
  p {
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    color: #fffdfd;
    font-size: 1vw;
    font-weight: 800;
    font-weight: normal;
  }
}
